* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Poppins", sans-serif;
}

.btn {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 12px;
}
.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    gap: 50px;
}
.nav ul a {
    color: #333;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    display: flex;
}
.banner {
    height: 665px;
    width: 100%;
    display: flex;
}

#header-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text h1 {
    font-size: 60px;
    font-weight: 500;
    color: #000;
}
.banner-text h4{
    color: #666;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 42px;
}
.our-story-main {
    background-color: #F8F8F8;
    padding-top: 120px;
    padding-bottom: 140px;
}

.our-story {
    display: flex;
    align-items: center;
    height: 100%;
}

.story-left {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
}

.circle-col {
    width: 50%;
    position: relative;
    height: 150px;
}

.circle-col::before {
    content: "";
    position: absolute;
    left: 35px;
    top: 0;
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.circle-col h3, .circle-col p {
    z-index: 11;
    position: relative;
    text-wrap: nowrap;
    line-height: normal;
}

.circle-col h3 {
    font-size: 47px;
    font-weight: 600;
    line-height: 40px;
}

.circle-col p {
    font-size: 15px;
    font-weight: 500;
}
.circle-col:nth-child(even) {
    left: -110px;
    top: 90px;
}
.circle-col:nth-child(odd) {
    margin-bottom: 18px;
}
.circle-col:last-child {
    left: -110px;
    top: 42px;
}
.text {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.business .text {
    top: 35px;
    left: -10px;
}

.business .text h3, .business .text p {
    background: -webkit-linear-gradient(#023051 20%, #056CB7 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects .text {
    left: 105px;
    top: 20px;
}
.projects .text h3, .projects .text p {
    background: -webkit-linear-gradient(#9428BA, #431254);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.team .text {
    left: 0;
    top: 30px;
}
.team .text h3, .team .text p {
    background: -webkit-linear-gradient(#BA3EA2, #67237F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.customer .text {
    right: -70px;
    top: 80px;
}

.customer .text h3, .customer .text p {
    color: #BA3EA2;
}

.story-right {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 190px;
}

.section-title {
    color: #000;
    font-size: 35px;
    font-weight: 500;
    width: 100%;
}
.story-right p {
    color: #666;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 42px;
    line-height: 30px;
    margin-top: 30px;
}

.capabilities-main {
    padding: 120px 0;
    width: 100%;
    background-image: linear-gradient(90deg, #410C54, #5D0E78 68%, #0E4972 100%);
}
.capabilities {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.capabilities-left {
    width: 41%;
}
.capabilities-left h2 {
    color: #F8F8F8;
    font-weight: 500;
    font-size: 35px;
}

.capabilities-left p {
    color: #eee;
    font-weight: 300;
    font-size: 16px;
    padding: 35px 0;
    max-width: 410px;
    line-height: 30px;
}

.capabilities-left .btn {
    color: #F8F8F8;
}
.capabilities-left .btn img {
    filter: invert(1);
}

.capabilities .list {
    display: flex;
}
.capabilities .list h3 {
    min-width: 285px;
    color: #fff;
    font-size: 22px;
    line-height: 38px;
    font-weight: 500;
}
.capabilities .list p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    max-width: 285px;
    margin-left: 70px;
    padding-bottom: 20px;
}

.capabilities .list {
    padding: 20px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
}


.case-studies-main {
    padding: 130px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.case-studies-main .btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.case-studies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 138px;
    row-gap: 80px;
}
.case-studies h2 {
    margin-bottom: 10px;
}
.card {
    width: calc(50% - 69px);
    position: relative;
}
.card:nth-child(odd) {
    top: 100px;
}
.card img {
    width: 100%;
}

.card p {
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-top: 15px;
    word-wrap: break-word;
}
.industries-main {
    background-color: #E1E9EB;
    padding: 130px 0;
}
.industries {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    width: calc(100% - 180px);
    margin-left: auto;
    margin-right: auto;
    padding: 75px 85px;
    margin-top: 145px;
    position: relative;
}
.industries-list-col {
    width: 100%;
    position: relative;
    z-index: 11;
}
.industries:before {
    content: "";
    position: absolute;
    top: -105px;
    left: -140px;
    background-image: url('../images/industries-shap.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.industries::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.industries-list-col li {
    color: #444;
    list-style: disc;
    font-size: 16px;
    padding: 17px 0;
}

.industries-list-col ul {
    display: grid;
    grid-template-columns: auto auto;
    width: 65%;
}
.industries-list-col .img {
    position: absolute;
    top: -165px;
    right: -150px;
}

.testimonial-main {
    width: 100%;
    display: inline-block;
    padding-top:125px;
    padding-bottom: 150px;
    position: relative;
}

.testimonial-main::before {
    content: "";
    background-image: url(../images/tesimonial-bg-img.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(150px);
    display: inline-block;
    position: absolute;
    top: 0;
}

.testimonial-main h2 {
    margin-bottom: 40px !important;
    position: relative;
}

.testimonial-slide .testimonial-slide {
    width: 100%;
    display: inline-block;
    margin-top: 0 !important;
}

.testimonial-main .slide-card {
    background: #fff;
    padding: 45px 40px 45px 80px; 
    border-radius: 20px;
}

.testimonial-main .slide-card p {
    font-size: 18px;
    font-family: 'Poppins';
    color: #555555;
    line-height: 30px;
    font-weight: 300;
}

.testimonial-main .slide-card h4 {
    font-size: 18px;
    margin-top: 30px;
    color: #555555 !important;
    display: inline-block;
    font-weight: 400;
}

.testimonial-main .slick-slider {
    margin:0 -25px;
    
}

.testimonial-main .slick-slide {
    margin-right:25px;
    margin-left:25px;
}

 .slick-slider::before {
    content: '';
    background-image: url('../images/client-arrow.png');
    width: 170px;
    height: 90px;
    background-repeat: no-repeat;
    position: absolute;
    top: -30px;
    left: -70px;
    z-index: 1;
}

 .slick-slider::after {
    transform: rotate(-180deg);
    content: '';
    background-image: url('../images/client-arrow.png');
    width: 170px;
    height: 90px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -35px;
    right: -60px;
    z-index: 1;
}
 .slick-slider .slick-arrow{
    width: 34px;
    height: 34px;
}

 .slick-slider .slick-arrow:before {
    content: '';
    background-image: url(../images/slide-arrow.png);
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
}
 .slick-slider .slick-prev.slick-arrow {
    transform: rotate(180deg);
}
 .slick-slider .slick-arrow.slick-disabled {
    display: none !important;
}


.core-team-main {
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(45deg, #4C0565, #5D2172 57%, #0E4972 95%);
    padding-top: 135px;
    padding-bottom: 145px;    
}
.core-team-main .section-title {
    color: #fff;
}

.core-team {
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-top: 70px;
}

.pic-card {
    position: relative;
    width: 33.33%;
}

.pic-card img {
    width: 100%;
}
.pic-card:nth-child(2) {
    top: 50px;
}

.footer-main {
    background-color: #121323;
    width: 100%;
    display: inline-block;
    padding: 130px 0 30px;
}

.footer {
    display: flex;
    width: 100%;
}
.footer-col {
    width: 25%;
}

.footer-col h3 {
    color: #eee;
    font-size: 16px;
    font-weight: 500;
}
.footer-col li a, .footer-col p {
    color: #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    margin-top: 20px;
}
.social-media{
    display: flex;
    gap: 40px;
}
.social-media a img {
    max-height: 24px;
}

.copy-right {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding-top: 40px;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
}
.copy-right p {
    color: #eee;
    font-size: 16px;
    font-weight: 300;
}
.hamburger {
    width: 45px;
    position: relative;
    height: 30px;
    background-color: transparent;
    border: none;
}

.hamburger::before, .hamburger::after, .hamburger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    content: '';
    width: 100%;
}
.hamburger::before {
    top: 0;
}
.hamburger span {
    
    top: 50%;
    transform: translateY(-50%);
}
.hamburger::after{
    bottom: 0;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 1366px) {
    .industries-list-col ul {
        width:70%;
    }
}

@media screen and (min-width: 576px){
    .container-fluid {
        max-width: 540px;
    }
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px){
    .container-fluid {
        max-width: 720px;
    }
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px){
    .container-fluid {
        max-width: 1060px;
    }
    .container {
        max-width: 960px;
    }
}


@media screen and (min-width: 1200px){
    .container-fluid {
        max-width: 1240px;
    }
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1400px){
    .container-fluid {
        max-width: 1440px;
    }
    .container {
        max-width: 1340px;
    }
}


@media screen and (max-width: 1279px){
    .nav ul {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        gap: 20px;
        background-color: #fff;
        max-width: 320px;
        border: solid 1px #ddd;
        width: 100%;
        padding: 40px 30px;
        height: 100vh;
        z-index: 1111;
        display: none;
    }
    .nav ul.open {
        display: flex;
    }
    .overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        display: none;
    }
    .overlay.open {
        display: block;
    }
    .hamburger {
        display: block;
    }
    .testimonial-main .slick-slider::before, .testimonial-main .slick-slider::after {
        display: none;
    }
    .testimonial-main .slick-slider .slick-prev.slick-arrow {
        left: -5px;
        z-index: 11;
    }
    .testimonial-main .slick-slider .slick-next.slick-arrow {
        right: -5px;
        z-index: 11;

    }
    .banner-text h1 {
        font-size: 42px;
    }
    .banner {
        height: 580px;
    }
    .our-story-main {
        padding-top: 100px;
        padding-bottom: 100px;       
    }
    .capabilities {
        flex-wrap: wrap;
    }
    .capabilities-right {
        width: 100%;
        margin-top: 50px;
    }
    .capabilities-left {
        width: 100%;
    }
    .capabilities-left p {
        max-width: inherit;
    }
    .capabilities .list p {
        max-width: inherit;
    }
   
    .case-studies-main, .industries-main,  .capabilities-main, .testimonial-main, .core-team-main{
        padding: 100px 0;
    }
    .case-studies {
        row-gap: 30px;
    }

    .industries {
        width: 100%;
        padding: 55px;
        margin-top: 115px;
    }
    .industries-list-col {
        display: flex;
    }
    .industries-list-col .img {
        position: static;
        width: 30%;
    }

    .industries-list-col .img img {
        
        width: 100%;
    }
    .testimonial-main .slide-card {
        padding: 45px 40px 45px 40px;
    }

    .footer-main {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1023px){
    .banner {
        height: auto;
        padding: 130px 0 60px 0;
    }
    .banner-content {
        flex-direction: column;
    }
    .banner-content .banner-text {
        order: 2;
    }
    #header-main {
        border-bottom: solid 1px #ddd;
    }
    .our-story {
        flex-direction: column;
    }
    .story-left {
        width: 50%;
    }
    .story-right {
        padding-left: 0;
        margin-top: 60px;
        width: 100%;
    }
    .industries-list-col ul {
        width: 100%;
    }
    .industries-list-col .img {
        display: none;
    }

    .case-studies-main, .industries-main,  .capabilities-main, .testimonial-main, .core-team-main{
        padding: 60px 0;
    }
    .our-story-main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-title {
        font-size: 30px;
    }
    .footer {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .footer-col {
        width: 50%;
    }
    .f-logo {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .story-left {
        width: 70%;
    }
    .banner-text h1 {
        font-size: 34px;
    }
    .banner-img img {
        max-width: 260px;
    }
    .banner-content .banner-text {
        margin-top: 30px;
    }
    .capabilities .list {
        flex-direction: column;
    }
    .capabilities .list p {
        margin-left: 0;
        padding-bottom: 0;
    }
    .case-studies {
        column-gap: 50px;
    }
    .card {
        width: calc(50% - 30px);
    }
    .core-team {
        gap: 20px;
        margin-top: 40px;
    }
    .address {
        width: 100%;
    }
    .social-media {
        gap: 20px;
    }
}

@media screen and (max-width: 575px) {
    .banner-text h1 {
        font-size: 26px;
    }
    .banner-img img {
        max-width: 200px;
    }
    .banner-text h4 {
        font-size: 17px;
    }
    .story-left {
        width: 90%;
    }

    .card {
        width: 100%;
        border: solid 1px #ddd;
        border-radius: 10px;
    }
    .card:nth-child(odd) {
        top: 0;
    }
    .card .img {
        height: 200px;
        overflow: hidden;
    }
    .card p {
        padding: 15px;
        margin-top: 0;
    }

    .case-studies-main .btn {
        margin-top: 30px;
    }
    .industries {
        margin-top: 25px;
        padding: 20px 40px;
    }
    .industries-list-col ul {
        grid-template-columns: 100%;
    }
    .industries-list-col li {
        padding: 9px 0;
    }

    .footer-col {
        width: 100%;
    }
    .copy-right {
        flex-direction: column;
        gap: 20px;
    }
    .testimonial-main .slick-slider {
        margin-left: -15px;
        margin-right: -15px;
    }
}
.overlay {
    position: absolute;
    bottom: 0;
}

/* About css */

.about-banner {
    height: auto;
    padding-top: 225px;
    padding-bottom: 120px;
    flex-direction: column;
}

.about-banner .banner-text h4 {
    font-size: 16px;
    line-height: 32px;
    max-width: 850px;
}
.details {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.details .col .text {
    left: 0;
    top: 0;
}

.details .col .text h3 {
    font-size: 47px;
}

.details .col .text p {
    font-size: 16px;
}

.mission-vision-main {
    display: flex;
    width: 100%;
    padding: 130px 0;
    background-image: linear-gradient(135deg, #4E0967 0%, #511E89 49%, #0E4972 100%);
}
.mission-vision {
    display: flex;
    gap: 200px;
    justify-content: space-between;
}
.mission-vision-col {
    display: flex;
    gap: 35px;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;
}
.mission-vision-col h4 {
    font-size: 27px;
    color: #F8F8F8;
    line-height: 22px;
    font-weight: 500;
}
.mission-vision-col p {
    font-size: 16px;
    color: #eee;
    line-height: 30px;
    font-weight: 300;
}
.leadership-main {
    padding: 115px 0;
    display: flex;
}
.leadership {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.leadership-list {
    display: flex;
    gap: 60px;
    width: 100%;
}
.leadership-details h3 {
    font-size: 20px;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}

.leadership-details p {
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 20px;
    line-height: 30px;
}
.leadership-details {
    padding-top: 20px;
}

.team-players {
    display: flex;
    width: 100%;
    padding: 130px 0;
    background-image: linear-gradient(135deg, #4E0967 0%, #511E89 49%, #0E4972 100%);
}
.team-players h2 {
    color: #F8F8F8;
}
.team-slide {
    padding: 0 20px;
    margin-top: 65px;
}
.team-slide img {
    width: 100%;
}
.team-players .slick-slider .slick-arrow:before {
    filter: invert(1);
}
.team-slider::after, .team-slider::before {
    display: none;
}
.banner-img {
    position: relative;
    display: flex;
}

.banner-img:before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 125px;
    height: 125px;
    background-color: #ddd;
    border-radius: 12px;
}

.banner-img img {
    position: relative;
}